joblib==1.1.0
matplotlib==3.5.0
matplotlib-inline==0.1.3
nltk==3.6.5
numpy==1.21.4
pandas==1.3.4
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==8.4.0
scikit_learn
scipy==1.7.3
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm/en_core_web_sm-3.0-py3-none-any.whl
streamlit==1.2.0
wordcloud==1.8.1
